marshmallow<4 # breaking changes CMK-25251
datamodel-code-generator==0.42.0 #CMK-29509
google-cloud-asset==4.1.0  # CMK-29107
redis~=7.4.1 # CMK-31558, latest 7.x version for now, constraint can probably removed completely
